<%- include("templates/cabecera") %>
<form class="container-sm mb-3">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombres Completos</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese nombre completo">
                </div>
                <div class="mb-3">

        <label for="exampleFormControlInput1" class="form-label">Correo Electronico</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
                </div>
                <div class="mb-3">
        
        <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>
    <%- include("templates/footer") %>
</html>